* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/images/black-paper-texture-lightness-minus50.jpg');
}

.page-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1500px) {
  .page-container {
    width: 75vw;
  }
}

@media (max-width: 1499px) {
  .page-container {
    width: 95vw;
  }
}
