.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  padding-bottom: 45px;
}

@media (min-width: 800px) {
  .gallery image-preview {
    margin: 1px;
    width: 30rem;
    height: 20rem;
  }
}

@media (max-width: 799px) {
  .gallery image-preview {
    margin: 2px;
    width: 90vw;
    height: 60vw;
  }
}
