.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.image-modal .background {
  background-color: #000;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

.image-modal img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

.image-modal .close-button {
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #FFF;
  padding: 15px;
  left: 100%;
}
