#landing {
  background-color: #FFF;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#landing #container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#landing #container #full {
  width: 100vw;
}

#landing #container a.site-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  color: #000;
  padding-bottom: 15px;
  font-size: 1.2em;
  font-weight: 100;
}

#landing #container a.site-link::before,
#landing #container a.site-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #FFF;
  transition: all 200ms;
}

#landing #container a.site-link::before {
  right: 50%;
}

#landing #container a.site-link::after {
  left: 50%;
  transition-delay: 100ms;
}

#landing #container a.site-link:hover::before,
#landing #container a.site-link:hover::after {
  width: 25%;
}

#landing #container a#gallery {
  right: 75%;
}

#landing #container a#about {
  left: 75%;
}

#landing #social {
  position: absolute;
  top: 5%;
  right: 5%;
}

#landing #social li {
  display: inline;
  padding: 0 4px;
}

#landing #social i {
  color: #000;
}
