.image-preview {
  width: 30rem;
  height: 20rem;
  overflow: hidden;
}

.image-preview img {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

.image-preview img:hover {
  cursor: pointer;
}

.image-preview img.wide {
  height: 100%;
}

.image-preview img.tall {
  width: 100%;
}
