nav.app-nav {
  font-size: 3rem;
  width: 100%;
}

nav.app-nav a {
  text-decoration: none;
  color: #FFF;
}

nav.app-nav .nav-container .logo {
  opacity: 0.75;
}

nav.app-nav .site-link {
  position: relative;
}

nav.app-nav .site-link::before,
nav.app-nav .site-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #FFF;
  transition: all 0.3s;
}

nav.app-nav .site-link::before {
  right: 50%;
}

nav.app-nav .site-link::after {
  left: 50%;
  transition-delay: 0.1s;
}

nav.app-nav a.site-link.active::before,
nav.app-nav a.site-link.active::after,
nav.app-nav a.site-link:hover::before,
nav.app-nav a.site-link:hover::after {
  width: 35%;
}

nav.app-nav .social-links a {
  color: #CCC;
}

@media (min-width: 1172px) {
  nav.app-nav {
    position: relative;
    display: inline-block;

    margin-top: 20px;
    height: 120px;
  }

  nav.app-nav > * {
    height: 100%;
  }

  nav.app-nav .nav-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  nav.app-nav .nav-container > * {
    height: 100%;
  }

  nav.app-nav .nav-container .logo img {
    height: 100%;
    margin: 0 75px;
  }

  nav.app-nav .nav-container .left-nav-links,
  nav.app-nav .nav-container .right-nav-links {
    display: flex;
    align-items: center;
    position: absolute;
  }

  nav.app-nav .nav-container .left-nav-links {
    left: 0;
    transform: translate(-100%, -100%);
  }

  nav.app-nav .nav-container .right-nav-links {
    right: 0;
    transform: translate(100%, -100%);
  }

  nav.app-nav .social-links {
    position: relative;
    display: flex;
    align-items: center;
    float: right;
  }

  nav.app-nav .social-links a {
    padding-left: 20px;
  }
}

@media (min-width: 800px) and (max-width: 1171px) {
  nav.app-nav,
  nav.app-nav .nav-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  nav.app-nav .nav-container .logo img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 60%;

    margin: 25px 0;
  }

  nav.app-nav .social-links a {
    padding: 0 10px;
  }
}

@media (max-width: 799px) {
  nav.app-nav {
    position: relative;
    height: 100vh;
    min-height: 600px;
  }

  nav.app-nav,
  nav.app-nav .nav-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  nav.app-nav .nav-container .logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 100%;
  }

  nav.app-nav .nav-container .logo img {
    width: 50%;

    margin: 50px 0;
  }

  nav.app-nav .nav-container .left-nav-links,
  nav.app-nav .nav-container .right-nav-links,
  nav.app-nav .social-links {
    z-index: 2;
    margin-bottom: 30px;
  }

  nav.app-nav .social-links a {
    padding: 0 20px;
    font-size: 1.5em;
  }

  nav.app-nav .site-link::before,
  nav.app-nav .site-link::after {
    display: none;
  }
}
