@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond';

nav {
  font-family: 'Cormorant Garamond';
  font-weight: 100;
  text-transform: uppercase;
}

nav.app-nav {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 150px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.app-nav a {
  padding: 15px 0px;
  text-decoration: none;
  font-size: 2.5rem;
  color: #FFFFFF;
  position: relative;
}

nav.app-nav a.site-link::before,
nav.app-nav a.site-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #FFF;
  transition: all 0.3s;
}

nav.app-nav a.site-link::before {
  right: 50%;
}

nav.app-nav a.site-link::after {
  left: 50%;
  transition-delay: 100ms;
}

nav.app-nav a.site-link.active::before,
nav.app-nav a.site-link.active::after,
nav.app-nav a.site-link:hover::before,
nav.app-nav a.site-link:hover::after {
  width: 35%;
}

nav.app-nav .logo {
  height: 100%;
  text-align: center;
}

nav.app-nav .logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
  max-width: 75vw;
}

nav.app-nav .left-nav-links,
nav.app-nav .right-nav-links,
nav.app-nav .logo {
    width: 100%;
}

nav.app-nav .left-nav-links a {
  float: right;
}

nav.app-nav .right-nav-links a {
  float: left;
}
